body{
  font-family:system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size:9pt;

  min-height:100vh;
  margin:0;
  background:linear-gradient(to bottom,#fafafa 0%,#fafafa 60%,#a7dce9 70%,#4879d3 90%);
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}

#logo {
  position:fixed;
  top:10px;
  right:calc(20%);
  margin:0 0 0px 0;
  border:solid 0px #000000;
}

#title {
  font-size:9pt;
  font-weight:400;

  margin-top:0px;
  margin-right:100px;
  padding:3px;
  padding-right:30px;
  padding-left :30px;

  display:block;
  width:fit-content;
  margin-left:auto;
  border:solid 1px #88888888;
}

h2 {
  font-size:11pt;
}

h3,h4,h5,h6{

}

#leftBody,#CenterBody,#rightBody{
  min-height:100vh;
}

#leftBody,#rightBody{
  flex:0 0 20%;
  background-color: #fafafa44;
}

#CenterBody{
  flex:0 0 60%;
  max-width:60%;

/*  padding:30px; */
  padding-left:30px;
  padding-right:30px;
}
