body{
  font-family:system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size:9pt;

  min-height:100vh;
  margin:0;
  background:linear-gradient(to bottom,#fafafa 0%,#fafafa 60%,#a7dce9 70%,#4879d3 90%);
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}

h1 {
  font-size:12pt;
}

h2 {
  font-size:11pt;
}

h3,h4,h5,h6{

}

#leftBody,#CenterBody,#rightBody{
  min-height:100vh;
}

#leftBody,#rightBody{
  flex:0 0 20%;
}

#CenterBody{
  flex:0 0 60%;
  max-width:60%;
}
